
<div class="conteiner">
    <div class="content">
        <h1>Subcategories of General Vocabulary</h1>
        <a href="/Home">
            <button class="btn back-button btn-primary">Back To Word Categories</button>
        </a>
        <div id="general" class="row">
            {{#each data}}
            <div class="col-xs-12 col-sm-6 sol-md-4 col-lg-2 mt-4">
                <a href="/topic/generalvocabulary/{{this.brief}}">
                    <div class="topic">{{this.name}}</div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</div>