
<div class="conteiner">
    <div class="content">
        <h3>Word categories</h3>
        <p>Please select a category. </p>
        <div class="row conteiner-box">
            <div class="box box-flex">
                <a href="/home/generalvocabular">
                    <div class="item-box">
                        <p>General Vocabulary</p>
                        <img src="/img/img1.png" alt>
                    </div>
                </a>
            </div>
            <div class="box box-flex">
                <a href="/home/academicvocabulary">
                    <div class="item-box">
                        <p>Academic Vocabulary</p>
                        <img src="/img/img2.png" alt>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>